$form-row-vspace: .75rem;

@keyframes removeAutofillBackground {
  to {
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.contactForm {
  display: block;
  max-width: 600px;
  margin: auto;
}

.contactForm__row {
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }

  @include mobile-wide {
    display: block;

    .contactForm__input {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: $form-row-vspace;
      }
    }
  }
}

.contactForm__input {
  flex: 1 1 auto;
  padding: 0 0 1.25rem 0;
  position: relative;

  &:not(:last-child) {
    margin-right: $form-row-vspace;
  }

  &--reqd {
    @extend .contactForm__input !optional;
    label {
      &:after {
        padding-left: 0.25rem;
        content: '*';
      }
    }
  }

  label {
    display: block;
    margin: 0 0 5px 0;
  }

  input,
  textarea {
    animation-name: removeAutofillBackground;
    animation-fill-mode: both;
    -webkit-appearance: none;
    align-items: center;
    border-radius: 0;
    display: inline-flex;
    font-size: 1rem;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(.375em - 1px) calc(.625em - 1px);
    position: relative;
    vertical-align: top;
    border: 1px solid #a7a7a7;
    background-color: #fff;
    color: #000;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    max-width: 100%;
    width: 100%;

    &[type='text'] {
      height: 50px;
    }
  }

  &.error {
    label {
      color: $red;
    }

    input,
    textarea {
      border-color: $red;
    }
  }
  
  .validationError {
    position: absolute;
    bottom: 0.2rem;
    color: $red;
    font-size: 0.875rem;
  }
}
