
.featureButton {
  cursor: pointer;
  text-align: center;
  border: 3px solid;
  border-radius: 4px;
  padding: 10px 0;
  line-height: 1rem;

  &.is-small {
    @extend .featureButton !optional;
    width: 100px;
    margin: 0 10px;
  }

  &.is-medium {
    @extend .featureButton !optional;
    width: 200px;

    &:not(:last-of-type) {
      margin: 0 15px 0 0;
    }
  }

  &.is-large {
    @extend .featureButton !optional;
    width: 300px;
    margin: 0 20px;
  }

  &.is-black {
    border-color: $black;
    color: $black;
    background-color: transparent;
  }

  &.is-white {
    border-color: $white;
    color: $white;
    background-color: transparent;
  }

  &.is-gray {
    border-color: $black;
    background-color: $white;
    color: $black;
  }

  &.content-cta {
    margin-top: 50px;
  }

  &.is-disabled {
    cursor: default;
    opacity: 0.5;
  }
}