.hdr-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: rem($hdr-height);
  display: flex;
  align-items: center;
  background-color: $hdr-bg;
  color: $dark;

  ~ main {
    padding-top: rem($hdr-height);
  }

  @include tablet {
    height: rem($hdr-height-tablet);

    ~ main {
      padding-top: rem($hdr-height-tablet);
    }
  }

  .container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .logo {
    &__img-wrap {
      width: 50px;
      height: 50px;
    }

    &__img {
      width: 100%;
    }
  }

  .nav {
    height: 100%;
    margin-left: auto;

    &__item {
      height: 100%;
      display: inline-flex;
      flex-flow: column;
      justify-content: center;
      padding: 0 10px;
    }

    a,
    &__item-text {
      text-decoration: none;
      color: $dark;

      &:hover {
        color: $hover-color;
      }
    }
  }
}
