* {
  box-sizing: border-box;
}

// RESETS
body {
  margin: 0;
}

:root {
  color: $root-txt-color;
}

.noscroll {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: $content-max-width;
  padding: 0 10px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}
