$superwide: 3000px;
$widescreen: 2000px;
$desktop-wide: 1366px;
$desktop: 1024px;
$desktop-med: 991px;
$desktop-sm: 960px;
$tablet: 768px;
$tablet-small: 570px;
$mobile-wide: 480px;
$mobile: 320px;

@mixin above-superwide {
  @media screen and (min-width: $superwide + 1) {
    @content;
  }
}
@mixin min-superwide {
  @media screen and (min-width: $superwide) {
    @content;
  }
}
@mixin superwide {
  @media screen and (max-width: $superwide) {
    @content;
  }
}
@mixin below-superwide {
  @media screen and (max-width: $superwide1 - 1) {
    @content;
  }
}
@mixin above-widescreen {
  @media screen and (min-width: $widescreen + 1) {
    @content;
  }
}
@mixin min-widescreen {
  @media screen and (min-width: $widescreen) {
    @content;
  }
}
@mixin widescreen {
  @media screen and (max-width: $widescreen) {
    @content;
  }
}
@mixin below-widescreen {
  @media screen and (max-width: $widescreen - 1) {
    @content;
  }
}
@mixin above-desktop-wide {
  @media screen and (min-width: $desktop-wide + 1) {
    @content;
  }
}
@mixin desktop-wide {
  @media screen and (max-width: $desktop-wide) {
    @content;
  }
}
@mixin above-desktop-med {
  @media screen and (min-width: $desktop-med + 1) {
    @content;
  }
}
@mixin min-desktop-med {
  @media screen and (min-width: $desktop-med) {
    @content;
  }
}
@mixin desktop-med {
  @media screen and (max-width: $desktop-med) {
    @content;
  }
}
@mixin below-desktop-med {
  @media screen and (max-width: $desktop-med - 1) {
    @content;
  }
}
@mixin above-desktop {
  @media screen and (min-width: $desktop + 1) {
    @content;
  }
}
@mixin min-desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}
@mixin below-desktop {
  @media screen and (max-width: $desktop - 1) {
    @content;
  }
}
@mixin above-desktop-sm {
  @media screen and (min-width: $desktop-sm + 1) {
    @content;
  }
}
@mixin min-desktop-sm {
  @media screen and (min-width: $desktop-sm) {
    @content;
  }
}
@mixin desktop-sm {
  @media screen and (max-width: $desktop-sm) {
    @content;
  }
}
@mixin below-desktop-sm {
  @media screen and (max-width: $desktop-sm - 1) {
    @content;
  }
}
@mixin above-tablet {
  @media screen and (min-width: $tablet + 1) {
    @content;
  }
}
@mixin min-tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}
@mixin below-tablet {
  @media screen and (max-width: $tablet - 1) {
    @content;
  }
}
@mixin above-tablet-small {
  @media screen and (min-width: $tablet-small + 1) {
    @content;
  }
}
@mixin min-tablet-small {
  @media screen and (min-width: $tablet-small) {
    @content;
  }
}
@mixin tablet-small {
  @media screen and (max-width: $tablet-small) {
    @content;
  }
}
@mixin below-tablet-small {
  @media screen and (max-width: $tablet-small - 1) {
    @content;
  }
}
@mixin above-mobile-wide {
  @media screen and (min-width: $mobile-wide + 1) {
    @content;
  }
}
@mixin min-mobile-wide {
  @media screen and (min-width: $mobile-wide) {
    @content;
  }
}
@mixin mobile-wide {
  @media screen and (max-width: $mobile-wide) {
    @content;
  }
}
@mixin below-mobile-wide {
  @media screen and (max-width: $mobile-wide - 1) {
    @content;
  }
}
@mixin above-mobile {
  @media screen and (min-width: $mobile + 1) {
    @content;
  }
}
@mixin min-mobile {
  @media screen and (min-width: $mobile) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
