
// Convert pixels to rem
// Usage:
// block__element--modifier {
//   font-size: rem(24px)
// }
//
// OR
//
// block__element--modifier {
//   font-size: rem(24)
// }
$root-font-size: 16px;

@function rem($pixels, $context: $root-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}
