// COLORS
$orange: orange;
$black: #000000;
$white: #ffffff;
$red: #e43f4f;
$dark: #333333;
$lightblue: lightblue;

// TEXT COLORS
$hero-hdg-color: $orange;
$root-txt-color: $dark;
$hover-color: $red;

// DIMENSIONS
$hdr-height: 108px;
$hdr-height-tablet: 65px;
$content-max-width: 1500px;

// BG COLORS
$hdr-bg: $lightblue;
